
        *{
            box-sizing: border-box;
        }

       html{
              scroll-behavior:smooth;
       }

        #navbar header{
            margin-top: 10px;
            text-align: center;
            font-size: 30px;
            margin-bottom: 0px;
        }

        img{
            display: flex;
               max-width:100%;
               height:auto;
        }

        body{
            background: linear-gradient(180deg, white, lightslategrey);
            background-size: cover;
            min-width: 290px;
            line-height: 1.3;
            font-family: 'Open Sans', Arial, sans-serif;
        }

        #navbar{
            position: fixed;
            top:0;
            left: 0;
            width: 300px;
            min-width: 290px;
            height: 100%;
            border-right: 4px solid black;
        }

        #navbar ul {
            height: 88%;
            padding: 0;
            overflow-y: auto;
            overflow-x: hidden;
        }

        #navbar li{
            border-top: 2px dashed;
            position: relative;
            padding: 15px 15px;
        }

        #navbar a{
            display: block;
            list-style: none;
            text-decoration: none;
            cursor: pointer;
            color: black;
            font-size: 24px;
        }

        @media only screen and (max-width: 815px) {
        /* For mobile phones: */
        #navbar ul {
            border: 1px solid;
            height: 207px;
        }

        #navbar {
            background-color: white;
            position: absolute;
            top: 0;
            padding: 0;
            margin: 0;
            width: 100%;
            max-height: 275px;
            border: none;
            z-index: 1;
            border-bottom: 2px solid;
        }

        #main-doc {
            position: relative;
            margin-left: 0px;
            margin-top: 270px;
        }
        }

        @media only screen and (max-width: 400px) {
        #main-doc {
            margin-left: -10px;
        }

        code {
            margin-left: -20px;
            width: 100%;
            padding: 15px;
            padding-left: 10px;
            padding-right: 45px;
            min-width: 233px;
        }
        }

                
        h1{
            font-size: 28px;
            padding-top:15px;
        }

        code {
            display: block;
            text-align: left;
            white-space: pre-line;
            position: relative;
            word-break: normal;
            word-wrap: normal;
            line-height: 2;
            background-color: #f7f7f7;
            padding: 15px;
            margin: 10px;
            border-radius: 5px;
       }

       main{
            margin-left: 320px;
            padding: 20px;
            margin-bottom: 20px;
       }

        .heart {  
            margin: auto;
            background-color: white;
            margin-top: 20px;
            height: 50px;
            width: 50px;
            transform: rotate(-45deg);
            animation-name: beat;
            animation-duration: 1s;
            animation-iteration-count:infinite;
        }
        .heart:after {
            background-color: white;
            content: "";
            border-radius: 50%;
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0px;
            left: 25px;
        }
        .heart:before {
            background-color: white;
            content: "";
            border-radius: 50%;
            position: absolute;
            width: 50px;
            height: 50px;
            top: -25px;
            left: 0px;
        }
        .heart2 {  
            margin:auto;
            background-color: gray;
            margin-top: 60px;
            height: 50px;
            width: 50px;
            transform: rotate(-45deg);
            animation-name: beat;
            animation-duration: 1s;
            animation-iteration-count:infinite;
        }
        .heart2:after {
            background-color: gray;
            content: "";
            border-radius: 50%;
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0px;
            left: 25px;
        }
        .heart2:before {
            background-color: gray;
            content: "";
            border-radius: 50%;
            position: absolute;
            width: 50px;
            height: 50px;
            top: -25px;
            left: 0px;
        }
        .heart3 {  
            margin:auto;
            background-color: black;
            margin-top: 60px;
            height: 50px;
            width: 50px;
            transform: rotate(-45deg);
            animation-name: beat;
            animation-duration: 1s;
            animation-iteration-count:infinite;
        }
        .heart3:after {
            background-color: black;
            content: "";
            border-radius: 50%;
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0px;
            left: 25px;
        }
        .heart3:before {
            background-color: black;
            content: "";
            border-radius: 50%;
            position: absolute;
            width: 50px;
            height: 50px;
            top: -25px;
            left: 0px;
        }

        @keyframes beat {
            0% {
            transform: scale(1) rotate(-45deg);
            }
            50% {
            transform: scale(0.6) rotate(-45deg);
            }
        }

